
<script>
    let a = 10;
    Main = new Array(8);
    let f ='{{key}}';
    let w=f.split(' ');
    for (let i = 0; i < 8; i++) {
        Main[i] = 0;
    }

    function test(obj) {
        obj=obj.parentElement;
        let score = 0;
        let arr = obj.getElementsByClassName("select");
        for (let i = 0; i < 8; i++) {
            let z = arr[i];
            let s = +z.options[z.selectedIndex].value;
            score = score + s;
        }
        for (let i = 0; i < 8; i++) {
            for (let j = 10; j > 0; j--) {
                let z = arr[i];
                let selected = z.options[z.selectedIndex].value;
                if (selected != "0") {
                    if (j < selected) {
                        z.options[j - 1].disabled = 0;
                    }
                    else { z.options[j - 1].disabled = 'disabled'; }
                }
                else {
                if (j <= a - score) {
                    z.options[j - 1].disabled = 0;
                }
                else { z.options[j - 1].disabled = 'disabled'; }
            }           
        }
        arr[i].options[0].disabled = 0;
        if((a-score-2)>0) arr[i].options[a-score-2].disabled="disabled";
    }
    obj.getElementsByClassName("elem")[0].textContent = "Доступные очки " + (a - score);
    let isTrue=0;
    let blocks=document.getElementsByClassName("elem");
    let myButt=document.getElementById('myButt');
    for(let i=0;i<blocks.length;i++){
        if(blocks[i].textContent!="Доступные очки 0") {isTrue=1;
         break;
    }
    }
    if(!isTrue) {myButt.disabled=0;  myButt.style.background=" rgb(39, 167, 226)"}
    else {myButt.disabled="disabled";
    myButt.style.background=" rgb(175, 174, 174)"}
    }
    function sum() {
        let arr = document.getElementsByClassName("todo");
        for(let r=0;r<{{todos.length}};r++){
        let m = arr[r].getElementsByClassName("select");
        let z=w[r].split('');
    for (let i = 0; i < 8; i++) {
        let sel = m[i];
        Main[z[i]-1] = +sel.options[sel.selectedIndex].value + Main[z[i]-1];
    }   
    }
  
   let Main2= new Array(8); 
   for(let a=0;a<Main.length;a++){
       Main2[a]=Main[a];
   }
   Main2.sort(function (a, b) {
    return b - a;
});
   let Max1=Main2[0];
   let Max2=Main2[1];
   let i=0;
   let j=0;
     while(Main[i]!=Max1){      
        i++;
   }

    while(Main[j]!=Max2){      
        j++;
   }

   let key=(i+1).toString()+j.toString(); 
    localStorage.setItem("object_name3", key)
    document.location.href="/result";
    }

</script>
<form action="/result">

<h3 id="basicInf">R</h3>
<div style="font-size: 18px; width:80%; color:rgba(0, 0, 0, 0.842); padding: 5px">Инструкция. В каждом из семи блоков данного опросника распределите 10 баллов между возможными ответами согласно тому, как вы полагаете они лучше всего подходят вашему собственному поведению. Если вы согласны с каким-либо утверждением на все 100%, вы можете отдать ему все 10 баллов. При этом одному предложению можно присвоить минимум 2 балла. Проверьте, чтобы сумма всех баллов по каждому блоку не превышала 10.
</div>
{{#if todos.length}}
<ul>
    {{#each todos}}

     <div class="row">
    <div class="col s12 m6" style="  margin:0 12% 0 12%; width:76%; font-family: sans-serif;">
      <div class="card">
        <div class="card-image">
          <img src="https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog2325432/banner_1.jpg" height="100px">
          <a class="btn-floating halfway-fab waves-effect waves-light red" style="text-align: center;"></a>
        </div>
        <div class="card-content" >
          <li class="todo">
        
        <label style="font-size: 14px; color:rgba(0, 0, 0, 0.842)" >
        <div class="elem" style="color:black; font-size: 25px">Доступные очки 10</div>
            <span>{{title}}</span>
            <br>
            <span>{{a1}}</span>
            <select style="display: inline; width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <span>{{a2}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

            </select>
            <br>
            <span>{{a3}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <span>{{a4}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <span>{{a5}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <span>{{a6}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <span>{{a7}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <span>{{a8}}</span>
            <select style="display: inline;width: 40pt; height: 23pt" onchange="test(this)" class="select">
                <option value="0">-</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
        </label>
    </li>

        </div>
      </div>
    </div>
  </div>
    
    
    {{/each}}
</ul>
{{else}}
<p>No todos</p>
{{/if}}
    <button  class="button1" id="myButt" style="margin-left:40%; margin-right:40%; background:rgb(175, 174, 174)" disabled onclick="sum()">Save</button>

</form>
<script>
    var num=document.getElementsByClassName("btn-floating halfway-fab waves-effect waves-light red");
    for(let i=0;i<num.length;i++){
        num[i].textContent=(i+1).toString();
    }
    var name2 = localStorage.getItem("object_name2");
    var value1 = JSON.parse(name2).group;
    var value2 = JSON.parse(name2).name;
    var value3=JSON.parse(name2).number-1;
    document.getElementById('basicInf').innerHTML =value1 + ' :) '+value2;
     var Uname = {'group':value1, 'name':value2, 'number': value3};
    localStorage.setItem("object_name7",JSON.stringify(Uname));
</script>
